@media only screen and (max-width: 600px) {
    
    body::-webkit-scrollbar {width: 0 !important}
    body {overflow: -moz-scrollbars-none;}
    body {-ms-overflow-style: none;}

    html, body {
        margin: 0;
        /* min-height: 100%; */
    }
    header {
        width: 100%;
        height: 60px;
    }
    .navBrand {
        margin-right: auto;
        margin-top: 10px;
        margin-left: -25px;
    }
    .navBrand img {
        width: 122px;
    }
    .btn-group {
        height: 40px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .dropdown-menu {
        top: 47px !important;
        border-radius: 0px !important;
    }
    .btn-secondary {
        color: #fff;
        background-color: #fff !important;
        border-color: #fff !important;
    }
    .dropdown-toggle::after {
        display: none !important;
    }
    .fa {
        color: black;
        font-size: 16px;
    }

    .banner {
        height: auto;
        min-height: 306px;
        background-image: url(../images/hunter-haley.png);
        background-size: cover;
        background-position: center;
    }
    .headerQuoteDiv {
        display: none;
    }
    .about_heading {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-size: 35px;
        color: #474544;
        padding-top: 20px;
    }
    .services_heading {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-size: 35px;
        color: #474544;
        padding-bottom: 15px;
    }
    .gallery_heading {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-size: 30px;
        color: #474544;
    }
    .contact_heading {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-size: 35px;
        color:#474544;
    }
    
    a {
        color: black !important;
        text-decoration: none;
    }
    .flexView {
        display: none;
    }
    .bars {
        display: flex;
    }

    .about {
        margin-top: 70px;
        height: auto;
        background-image: linear-gradient(30deg, rgb(239, 228, 205), rgb(255, 255, 255));
    }
    .aboutParDiv {
        padding: 10px 30px;
    }
    .aboutParDiv p {
        font-size: 18px;
    }
    .services {
        margin-top: 70px;
        height: auto;
        min-height: 600px;
        background-image: linear-gradient(30deg, rgb(239, 228, 205), rgb(255, 255, 255));
    }
    .gallery {
        margin-top: 70px;
        height: auto;
        min-height: 600px;
        background-image: linear-gradient(30deg, rgb(239, 228, 205), rgb(255, 255, 255));
    }
    /* Gallery */
    .albumRow {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 10px 30px;
        margin-top: 78px;
    }
    .albumColumn img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        /* box-shadow: 0px 0px 2px 0px #000000; */
    }
    .albumColumn {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    /* end Gallery */
    .contact {
        margin-top: 170px;
        min-height: auto;
        background-image: linear-gradient(30deg, rgb(238, 228, 205), rgb(255, 255, 255));
    }
    footer {
        background-color: rgb(41, 56, 77);
        /* height: auto; */
        overflow: hidden;
    }
    .follow_heading {
        font-size: 19px;
        color: #e0e0e0;
        padding: 15px 0px;
    }
    .socialMedia {
        display: flex;
        justify-content: space-between;
        max-width: 200px;
        margin: 0 auto;
        padding: 4px 0;
        font-size: 22px;
    }
    
    .cpright p {
        text-align: center;
        color: rgb(83, 101, 121);
        font-family: 'Nunito Sans', sans-serif;
        margin-top: 13px;
    }

    .servImage {
        opacity: 1;
        display: block;
        width: 60%;
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease;
        backface-visibility: hidden;
        /* border-radius: 4px; */
        box-shadow: 0px 2px 6px 0px #424242;
        margin: 0 auto;
        /* margin-top: 0px; */
        margin-bottom: 6px;
    }
}